@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css');

:root {
    --light-color: #F2F2F2;
    --grey: #8C8C88;
    --main-color: #202426;
    --dark-green: #6C733D;
    --green: #9DA65D;
    --max-width: 1200px;
}

* {
    box-sizing: border-box;
}

.fade-in {
    opacity: 1;
}

body {
    margin: 0;
    background-color: var(--main-color);
    color: var(--light-color);
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    transition: opacity 0.4s ease-in-out;
    opacity: 0;
}

header {
    position: sticky;
    width: 100%;
    padding: 1rem;
    background-color: var(--main-color);
    /* make sure that header is in front of any other element */
    z-index: 10;
    top: 0;
}

header .top-header {
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger {
    display: flex;
    flex-direction: column;
    gap: 7px;
    cursor: pointer;
}

.burger div {
    height: 2px;
    width: 25px;
    background-color: var(--light-color);
    transition: all 0.4s ease-in-out;
    transform-origin: center;
}

.burger.active div:nth-of-type(1) {
    transform: rotate(45deg) translate(7px, 6px);
}

.burger.active div:nth-of-type(2) {
    opacity: 0;
}

.burger.active div:nth-of-type(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

nav {
    display: none;
    justify-content: center;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease-in-out;
    background-color: var(--main-color);
    font-family: "Oswald", sans-serif;
    font-size: 24px;
}

ul {
    width: 100%;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0.5rem 0;
}

li:hover {
    color: var(--green);
}

section, footer, .container {
    /* border: 1px dashed grey;  remove for production */
}

.container {
    max-width: var(--max-width);
    margin: auto;
}

.hero-image {
    height: calc(100vh - 52px);
    min-height: 800px;
    max-height: 1000px;
    background-image: url("../img/rainbow.jpg");
    background-color: var(--main-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image .image-filter {
    height: 100%;
    width: 100%;
    backdrop-filter: brightness(30%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile .picture {
    background-image: url("../img/profile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.profile .text {
    text-align: center;
    text-transform: uppercase;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-size: 72px;
    margin: 0;
}

h2 {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    margin: -1rem 0 0 0;
}

h3 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    color: var(--light-color);
    font-size: 28px;
    text-align: center;
    margin: 2rem 0;
}

#professional-experience,
#education,
#skills {
    padding: 1rem;
}

#professional-experience .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
}

.job-container {
    display: flex;
    width: 400px;
}

.timeline > div {
    height: 50%;
    width: 100%;
    border-left: 1px solid var(--light-color);
}

.job-container:first-of-type .timeline > div:first-of-type {
    border-color: var(--main-color);
}

.job-container:last-of-type .timeline > div:last-of-type {
    border-color: var(--main-color);
}

.timeline > div:last-of-type::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--light-color);
    border-radius: 50%;
    border: 4px solid var(--main-color);
    position: absolute;
    transform: translate(-10.5px, -10.5px);
}

.job-container:first-of-type .period {
    color: var(--green);
}

.job-container:first-of-type .timeline > div:last-of-type::before {
    background-color: var(--green);
}

.job-container:first-of-type .job {
    color: var(--green);
}

.job-container .period {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 125px;
}

.job {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

.title {
    font-weight: bold;
}

#education .container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.diploma {
    flex: 4;
    height: 300px;
    padding: 1rem;
    border: 1px solid var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}

.diploma div {
    text-align: center;
    margin: 0.5rem 0;
}

.diploma div i {
    color: var(--grey);
    font-size: 40px;
}

.diploma.highlight {
    flex: 5;
    color: var(--green);
    border-color: var(--green);
    font-size: 16px;
    height: 350px;
}

.diploma.highlight div i {
    color: var(--green);
    font-size: 45px;
}

#skills .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}

.skill {
    width: 100%;
}

h4 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0 0 1rem 0;
}

.empty {
    width: 100%;
    height: 15px;
    background-color: var(--dark-green);
    margin: 0.5rem 0 0.75rem 0;
    border-radius: 3px;
}

.rating {
    background-color: var(--green);
    height: 100%;
    border-radius: 3px 0 0 3px;
}

.s-10 {
    width: 100%;
    border-radius: 3px;
}
.s-9 { width: 90% }
.s-8 { width: 80% }
.s-7 { width: 70% }
.s-6 { width: 60% }

footer {
    background-color: var(--main-color);
    font-size: 16px;
    padding: 1rem;
    font-family: "Oswald", sans-serif;
}

footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

footer #contact i {
    margin: 0 0.25rem;
    cursor: pointer;
}

footer #contact i:hover {
    color: var(--green);
}

a {
    text-decoration: none;
    color: inherit;
}

footer .horizontal-divider {
    border-top: 1px solid var(--grey);
}

@media (max-width: 750px) {
    .hero-image {
        min-height: 600px;
    }

    .profile .picture {
        width: 225px;
        height: 225px;
    }

    h1 {
        font-size: 54px;
    }

    h2 {
        font-size: 15px;
        margin: -0.75rem 0 0 0;
    }

    #skills .container {
        grid-template-columns: 1fr 1fr;
    }

    #education .container {
        flex-direction: column;
        height: 900px;
    }

    .diploma {
        width: 350px;
    }

    .diploma.highlight {
        width: 400px;
    }
}

@media (max-width: 450px) {
    .hero-image {
        min-height: 350px;
    }

    .profile .picture {
        width: 175px;
        height: 175px;
    }

    h1 {
        font-size: 43px;
    }

    h2 {
        font-size: 12px;
        margin: -0.5rem 0 0 0;
    }

    .job-container {
        width: 100%;
        flex-direction: column-reverse;
    }

    .timeline {
        display: none;
    }

    .job-container .period {
        width: unset;
    }

    .job {
        align-items: center;
    }

    .diploma {
        width: 90%;
    }

    .diploma.highlight {
        width: 100%;
    }

    #skills .container {
        grid-template-columns: 1fr;
    }
}